{{ define "main" }}

<p>My blog is pretty simple, no tags (might change depending on the breadth of content
in future) and just chronological. When I write for this blog I don't spend long
refining the posts so forgive me for typos/meandering sentences. If there's 
something about my writing you think can be improved please get in touch.</p>

<ul>
    {{ range .Pages.ByPublishDate.Reverse }}
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        <li>
            <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time> - <strong><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></strong>
        </li>
    {{ end }}
</ul>

{{ end }}
