#notes-entry-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: 
    "content" 
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: mix($body-bg-dark, white, 85%);
  padding: 1em;
  border-radius: 4px;
}

.invalid-link {
  cursor: help;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  cursor: help;
}

#notes-entry-container a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

#tooltip-wrapper {
  background: mix($body-bg-dark, white, 85%);
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  width: 400px;
  height: 250px;
  font-size: 0.8em;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 100ms;
}