<div class="rounded-social-buttons">

{%- if site.email -%}
<a title="{{ _locale_string_email }}"
class="social-button email" itemprop="email"
aria-label="Email"
href="/email">
<i class="far fa-envelope"></i>
</a>
{%- endif -%}

<a title="Keybase"
class="social-button keybase" itemprop="sameAs"
href="https://keybase.io/huwfulcher"
aria-label="Keybase"
target="_blank">
<i class="fab fa-keybase"></i>
</a>

{%- if site.linkedin -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'LinkedIn' }}"
class="social-button linkedin"
href="https://www.linkedin.com/in/{{ site.linkedin }}" itemprop="sameAs"
aria-label="LinkedIn"
target="_blank">
<i class="fab fa-linkedin"></i>
</a>
{%- endif -%}

{%- if site.github -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'GitHub' }}"
class="social-button github"
href="https://www.github.com/{{ site.github }}" itemprop="sameAs"
aria-label="GitHub"
target="_blank">
<i class="fab fa-github"></i>
</a>
{%- endif -%}

{%- if site.stackoverflow -%}
<a title="{{ _locale_string_follow | replace: '[NAME]', 'Stackoverflow' }}"
class="social-button stackoverflow" itemprop="sameAs"
href="https://stackoverflow.com/users/{{ site.stackoverflow }}"
aria-label="Stack Overflow"
target="_blank">
<i class="fab fa-brands fa-stack-overflow"></i>
</a>
{%- endif -%}

</div>
