<link rel="canonical" href="{{ .Permalink }}"/>


{{ $title := print .Site.Title " - " .Title }}
<title>{{ $title }}</title>

{{ $description := print .Site.Params.description }}
{{ if .Params.excerpt }}
{{ $description = .Params.excerpt }}
{{ end }}
<meta name="description" content="{{ $description }}">
<meta name="robots" content="index, follow">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ $title }}">
<meta property="twitter:description" content="{{ $description }}">

<meta property="og:site_name" content="{{ print .Site.Title }}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
