{{define "baseof"}}
<!DOCTYPE html>
<html>
    <head>
      {{ $url := .Site.Url }}
      {{ if (ne .Page.Slug "") }}
        {{ $url = print .Site.Url "/" .Page.Slug}}
      {{ end }}

      {{ $title := .Site.Title}}
      {{ if (ne .Page.Title "") }}
        {{ $title = print .Site.Title " - " .Page.Title }}
      {{ end }}

      {{ $description := .Site.Description }}
      {{ if (ne .Page.Metadata.excerpt "") }}
        {{ $description = .Page.Metadata.excerpt}}
      {{ end }}
      
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <link rel="stylesheet" href="/static/css/main.css">

      <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png?">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png?">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png?">
      <link rel="me" href="https://universeodon.com/@huwfulcher">

      <link rel="canonical" href="{{ $url }}"/>

      <title>{{ $title }}</title>

      <meta name="description" content="{{ $description }}">
      <meta name="robots" content="index, follow">

      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ $url }}">
      <meta property="og:title" content="{{ $title }}">
      <meta property="og:description" content="{{ $description }}">

      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="{{ $url }}">
      <meta property="twitter:title" content="{{ $title }}">
      <meta property="twitter:description" content="{{ $description }}">

      <meta property="og:site_name" content="{{ $title }}">

      {{ if .Site.IsProduction }}
      <script src="https://beamanalytics.b-cdn.net/beam.min.js" data-token="4e87aa7b-9953-43c2-96d3-fb47e08397ee" async></script>
      {{ end }}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body class="container">
      <header>
          <nav>
              <ul>
                  <li>
                      <a class="secondary" href="/">
                          <h1 style="margin: 0;">Huw Fulcher</h1>
                      </a>
                  </li>
              </ul>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/blog/">Blog</a></li>
                  <li><a href="/thoughts/">Thoughts</a></li>
                  <li><a href="/contact/">Contact</a></li>
              </ul>
          </nav>
      </header>
      <main>
      {{ template "main" . }}
      </main>
      <footer>
        <nav>
          <p>
            <small> &copy; Huw Fulcher 2023
            </small>
          </p>
        </nav>
      </footer>
    </body>
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
    </script>
</html>
{{ end }}
