---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/pico.css">
        {% include seo.html %}

        {% include favicon.html %}
        <script data-goatcounter="https://huw.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    </head>

    <body class="container">
        <header>
            {% include navigation.html %}
        </header>
        <main>
            {{ content }}
        </main>

        <footer>
          <nav>
            <p>
              <small> &copy; {{site.title}} {{ site.time | date: '%Y' }}
              </small>
            </p>
            <a href="/feed.xml">RSS</a>
          </nav>
        </footer>
    </body>

</html>
